*{
  margin: 0%;
  padding: 0%;
}
body logo nav{
  position: fixed;
}
body{
  background-color:black;
  font-family: 'Roboto', sans-serif;
  color: white;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 22px;
  box-shadow: 0px 2px 6px 2px black;
  color: white;
}
nav ul li a{
  margin-inline: 18px;
  text-decoration: none;
  color: white;
}
nav ul{
  margin-right: 48px;
  margin-top: 6px;

}
.logo img{
  width: 150px;
  margin-left: 18px;
  
}
ul li button{
  width: 100px;
  height: 33px;
  background-color: rgb(11, 188, 11);
  border: none;
  color: white;
  font-size: 18px;
}
ul li button:hover{
  border:2px solid white;
  background-color:transparent; 
  color: green;
  cursor: pointer;
}



body {

padding: 50px 0;
}

.nav {
font-family: 'Titillium Web';
text-transform: uppercase;
text-align: center;
font-weight: 600;
}

.nav * {
box-sizing: border-box;
transition: all .35s ease;
}

.nav li {
display: inline-block;
list-style: outside none none;
margin: .5em 1em;
padding: 0;
}

.nav a {
padding: .5em .8em;
color: rgba(255,255,255,.5);
position: relative;
text-decoration: none;
font-size: 20px;
}

.nav a::before,
.nav a::after {
content: '';
height: 14px;
width: 14px;
position: absolute;
transition: all .35s ease;
opacity: 0;
}

.nav a::before {
content: '';
right: 0;
top: 0;
border-top: 3px solid #3E8914;
border-right: 3px solid #2E640F;
transform: translate(-100%, 50%);
}

.nav a:after {
content: '';
left: 0;
bottom: 0;
border-bottom: 3px solid #2E640F;
border-left: 3px solid #3E8914;
transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
transform: translate(0,0);
opacity: 1;
}

.nav a:hover {
color: #1fe15c;
}
/* main */
.home{
  display:flex;
  justify-content: center;
}
.home img{
  width: 59%;
  margin-top: 80px;
  margin-right: 174px;
}
.home .hometext{
  margin-top: 80px;
  margin-left: 145px;
  font-size: 20px;
  
}
.hometext h1{
  font-size: 85px;
  color: rgb(39, 239, 49);
}
.hometext h2{
  margin-top:8px;
  color: rgb(13, 245, 206);
}
.hometext p{
  margin-top: 5px;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
}
  
.hometext button{
  margin-top: 15px;
  font-size: 22px;
  width: 140px;
  height:4px;
  background-color: rgb(48, 236, 48);
  color:white;
  border:none;
}
.example_d {
  color: #021111 !important;
  text-transform: uppercase;
  background: #f6f1f1;
  padding: 15px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
  .example_d:hover {
  color: #494949 !important;
  border-radius: 30px;
  border-color: #15ebe7 !important;
  transition: all 0.3s ease 0s;
}
